@model ExpensePost

@{
    ViewData["Title"] = "Expense List";
}

<h2> Expenses </h2>

<form asp-controller="Expense" asp-action="NewExpense" method="get">

    <label asp-for="BudgetId" hidden="hidden"></label>
    <input asp-for="BudgetId" value="@Model.BudgetId" hidden="hidden" />

    <input type="submit" value="New Monthly Expense" />
</form>

<div style="margin-top:.895em">
    @{
        bool isColored = false;
        string coloredClass = "";
        for (int i = 0; i < Model.Results.Count; i++) {
            if (Model.Results[i].IsActive) {
                coloredClass = (isColored) ? "AllParksColoredTile" : "";
                <div class="@coloredClass">
                    <div class="AllParksInfo">
                        <h4><b>@Model.Results[i].ExpenseDescription</b></h4>
                        <p>@Model.Results[i].ExpenseCategory - @Model.Results[i].ExpenseAmount</p>
                       
                        <form asp-controller="Expense" asp-action="RemoveExpense" method="get">
                            <label asp-for="ExpenseId" hidden="hidden">Detail Mode: </label>
                            <input asp-for="ExpenseId" value="@Model.Results[i].ExpenseId" hidden="hidden" />
                            <input type="submit" value="Remove" />
                        </form>
                    </div>
                </div>
                isColored = !isColored;
            }
        }
    }
</div>
