@model IncomePost

@{
    ViewData["Title"] = "index";
}

<h2> Income Stream Board </h2>

<a asp-controller="Income" asp-action="NewIncome" method="get">Post a New Source of Income</a>
<div style="margin-top:.895em">
    @{
        bool isColored = false;
        string coloredClass = "";
        for (int i = 0; i < Model.Results.Count; i++) {
            if (Model.Results[i].IsActive) {
                coloredClass = (isColored) ? "AllParksColoredTile" : "";
                <div class="@coloredClass">
                    <div class="AllParksInfo">
                        <h4><b>@Model.Results[i].IncomeDescription</b></h4>
                        <p>@Model.Results[i].IncomeAmount - @Model.Results[i].IncomeCategory</p>
                
                        <form asp-controller="Income" asp-action="RemoveIncome" method="post">
                            <label asp-for="IncomeId" hidden="hidden">Detail Mode: </label>
                            <input asp-for="IncomeId" value="@Model.Results[i].IncomeId" hidden="hidden" />
                            <input type="submit" value="Remove" />
                        </form>
                    </div>
                </div>

                isColored = !isColored;
            }
        }
    }
</div>
